* {
    box-sizing: border-box;
}
body{
    margin: 0;
    background: linear-gradient(130deg, #e2e2e2 32%, #d4a373)
}
 /* Home page */

.home-container{
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 550px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.home-container > h1{
    font-family: 'Karla', sans-serif;
    margin-bottom: 0;
    font-size: 4rem;
    color: #432818;
}
.home-container > p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 25px;
    color: #110e1b;
}


.quizz-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 0 auto;
   width: 750px;
   margin-bottom: 20px;
}
.question-answer-container{
    border-bottom: 1px solid grey;
    border-bottom-width: 100%;
    border-bottom-color: #e2e2e2;
    margin-bottom: 20px;
}

.question, .score-text{
    font-size: 1rem;
    color: #432818;
    font-family: 'Karla', sans-serif;
}
.answers-container{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-top: 20px;
}
.answer{
    display: flex;
    gap: 50px;
    margin-bottom: 25px;
    margin-top: 1px;
    /* font-size: .75rem; */
    /* list-style: none; */
    
}

.radio-input[type="radio"]{
  opacity: 0;
  position: fixed;
  width: 0;
  
}
.radio-label{
    display: inline-block;
    padding: 5px 17px;
    font-family: 'Inter', sans-serif;
    font-size: .75rem;
    border: 1.5px solid #432818;
    border-radius: 12px;
    cursor: pointer;
    
}

.btn-container{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.btn{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 11px;
    color: #110e1b;
    cursor: pointer;
    background: #d4a373;
}

.start-quizz-btn{
    padding: 15px 35px 15px 35px;
    font-size: .70rem;
}
.quizz-btn{
    padding: 12px 5px 12px 5px;
    width: 150px;
    margin: 0 auto;
    font-size: .75rem;
    
}

.quizz-btn:hover,
.start-quizz-btn:hover{
    color: #432818;    
    border: 2px solid #432818;
    font-weight: bold;
}
.footer{
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 50px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: .75rem;
    font-weight: 500;
    color: #110e1b;
}
